
:root {
  --primary: #f0842c;
  --dark: #111111;
  --muted: #6b7280;
  --bg: #ffffff;
  --soft: #f7f7f7;
  --border: #e5e7eb;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--dark);
}

.app-layout {
  display: flex;
  min-height: 100vh;
  margin-top:80px;
  width: 100%;
}

.sidebar {
  width: 240px;
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.p-datatable-lg {
  font-size: 14px;
  color: #111827;
}


.main-content {
  margin-left: 240px;
  padding: 50px 30px;
  width: calc(100% - 240px);
  box-sizing: border-box;
}
/*

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} */

.top-actions {
  display: flex;
  margin-top:10px;
  flex-direction: row;
  align-items:center;
  align-content:center;
}

.top-actions .search{
  margin-top:-30px;
  margin-left:30px;
  display:flex;
}

.top-actions .btn-outline-dark
{
  border-radius:8px;
  margin-left:40px;
  margin-top:-5.50px;
}

h3 {
  margin: 0;
  font-weight: 600;
}

.table,
.p-datatable {
  background: var(--soft);
  border-radius: 10px;
}

.table th {
  font-size: 0.85rem;
  color: var(--muted);
  border-bottom: 1px solid var(--border);
}

.table td {
  font-size: 0.9rem;
}

.table tr:hover {
  background: #fff3e6;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.icons i {
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--muted);
}

.icons i:hover {
  color: var(--primary);
}


input,
select,
p-select {
  width: 100%;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1000;
}


.modal-overlay-assign {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1000;
}


.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  background: #fff;
  border-radius: 12px;
  z-index: 1001;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

.modal-container-assign {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  height:650px;
  background: #fff;
  border-radius: 12px;
  z-index: 1001;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

.p-datatable-lg{
  gap:10px;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background-color: #f0842c;
  color: rgb(255, 255, 255);
  font-style: bold;
  border-radius: 12px 12px 0 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}


.modal-body {
  padding: 18px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.form-group label {
  font-size: 0.8rem;
  color: var(--muted);
  margin-bottom: 4px;
  display: block;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 14px 16px;
  border-top: 1px solid var(--border);
  background: #fafafa;
  border-radius: 0 0 12px 12px;
}


